<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="menu">menu</div>
	<div class="page">
		<div class="b-sidebar">sidebar</div>
		<div class="b-content">content</div>
	</div>
	<div class="footer">
		<div class="b-colum">colum</div>
		<div class="b-colum">colum</div>
		<div class="b-colum">colum</div>
		<div class="b-colum">colum</div>
		<div class="b-colum">colum</div>
		<div class="b-colum">colum</div>
	</div>
</body>
</html>